body {
  background-color: black;
  font-family: Futura XBlkCnIt BT, 'Bahnschrift Bold SemiCondensed', AvenirNextCondensed-HeavyItalic, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size: 60px;
  text-align: center;
  margin-top: 25px;
}

.morning {
  background-color: white;
  color: black;
  position: relative;
  animation-name: rise;
  animation-duration: 2s;
}

@keyframes rise {
  from {color: white; top:100px;}
  to {color: black; top:0px;}
}

ol {
  font-size: 40px;
  text-align: left;
  padding-left: 2em;
}

ol a {
  color: yellowgreen;
}

#message, #break.big {
  font-size: 100px;
}

#trance {
  font-size: 100px;
  font-family: Neuropol, AvenirNext-Heavy, 'Arial Black', sans-serif;
}

#survivor {
  font-family: Impact, Haettenschweiler, HelveticaNeue-CondensedBlack, 'Arial Narrow Bold', fantasy;
  font-size: 100px;
}

.space {
  margin-bottom: 0.5em;
}

#break {
  font-size:75px;
}

#breaklink {
  padding-top:0.5em;
  margin-bottom:0.5em;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:40px;
    height:40px;
    background:#F00;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background:#0F0;
}

#stress {
  font-family: Futura XBlkIt BT, 'Bahnschrift Bold', AvenirNext-HeavyItalic, 'Arial Black', sans-serif;
  color: red;
}

#stress a {
  color: red;
}

td {
  padding: 7px;
  font-size: 30px;
}

.theme1 {
  background-color: hsl(137, 13%, 32%);
  color: hsl(104, 22%, 87%);
}

.theme1 a {
  color: hsl(104, 22%, 87%);
}

.theme2 {
  background-color: hsl(227, 13%, 32%);
  color: hsl(194, 22%, 87%);
}

.theme2 a {
  color: hsl(194, 22%, 87%);
}

.theme3 {
  background-color: hsl(317, 13%, 32%);
  color: hsl(284, 22%, 87%);
}

.theme3 a {
  color: hsl(284, 22%, 87%);
}

.theme4 {
  background-color: hsl(47, 13%, 32%);
  color: hsl(14, 22%, 87%);
}

.theme4 a {
  color: hsl(14, 22%, 87%);
}

.theme5 {
  background-color: hsl(0, 0%, 32%);
  color: hsl(0, 0%, 87%);
}

.theme5 a {
  color: hsl(0, 0%, 87%);
}

.theme6 {
  background-color: hsl(182, 13%, 32%);
  color: hsl(149, 22%, 87%);
}

.theme6 a {
  color: hsl(149, 22%, 87%);
}

.theme7 {
  background-color: hsl(272, 13%, 32%);
  color: hsl(239, 22%, 87%);
}

.theme7 a {
  color: hsl(239, 22%, 87%);
}

.theme8 {
  background-color: hsl(2, 13%, 32%);
  color: hsl(329, 22%, 87%);
}

.theme8 a {
  color: hsl(329, 22%, 87%);
}

.theme9 {
  background-color: hsl(92, 13%, 32%);
  color: hsl(59, 22%, 87%);
}

.theme9 a {
  color: hsl(59, 22%, 87%);
}

.danger {
  color: red;
}

.danger a {
  color: red;
}

.danger #message {
  color: yellow;
}

.danger #stress {
  color: white;
}

@media only screen and (max-width: 1135px) {
  body, ol {
    font-size: 30px;
  }
  #message, #trance, #stress, #survivor, #break.big {
    font-size: 60px;
  }

  #break {
    font-size: 44px;
  }

  input[type='checkbox'] {
    width:20px;
    height:20px;
  }
}
