body {
  background-color: black;
  font-family: 'Barlow Semi Condensed', Futura MdCn BT, AvenirNextCondensed-Italic, sans-serif;
  color: white;
  font-size: 60px;
  text-align: center;
  margin-top: 25px;
}

a {
  color: white;
}

input[type='text'], select, button {
  font-family: 'Barlow Semi Condensed', Futura MdCn BT, AvenirNextCondensed-Italic, sans-serif;
  font-size:16px;
}

.custom-select, input[type='text'].custom-select, .custom-button {
  font-size: 36px;
}

h1, h2, h3, strong, .theme10 {
  font-family: 'Barlow Semi Condensed', Futura XBlkCnIt BT, AvenirNextCondensed-HeavyItalic, sans-serif;
}

h1 {
  font-size: 140px;
  margin-top: 0px;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 105px;
  margin-top: 0px;
  margin-bottom: 0.5em;
}

h3, #ok {
  font-size: 84px;
  margin-top: 0px;
  margin-bottom: 0.5em;
}

#message, #break.big, #trance, #survivor, #arrows, #emergency-button, .huge {
  font-size: 140px;
}

#break, #question, #standup, #changeclothes, #chiptune, #message.small, #arrows.small, .big {
  font-size:105px;
}

#message.tiny, #link, #theme, .medium {
  font-size: 84px;
}

#instructions, .no-space {
  margin-bottom: 0px;
}

.morning {
  background-color: white;
  color: black;
  position: relative;
  animation-name: rise;
  animation-duration: 2s;
}

.morning a, .relax a {
  color:black;
}

@keyframes rise {
  from {opacity: 0; top:100px;}
  to {opacity: 1; top:0px;}
}

.relax {
  background-color: skyblue;
  color: black;
  font-family: Verdana, sans-serif;
}

.relax strong {
  font-family: Verdana, sans-serif;
}

ol, #goals-list, #link.small {
  font-size: 60px;
}

ol {
  text-align: left;
  padding-left: 2em;
}

ol a {
  color: yellowgreen;
}

#trance {
  font-family: Neuropol, 'Michroma', AvenirNext-Heavy, 'Arial Black', sans-serif;
}

#chiptune {
  font-family: Early GameBoy, 'Arial Black', sans-serif;
}

#survivor {
  font-family: Impact, Haettenschweiler, HelveticaNeue-CondensedBlack, 'Arial Narrow Bold', fantasy;
}

#link, .space, .space2 {
  margin-bottom: 0.5em;
}

#standup, #changeclothes, #hydrate, #musictip, .additional, .morning-task, .invisible {
  display:none;
}

#hydrate, #musictip {
  padding-bottom: 20px;
}

.morning-task {
  animation-name:rise;
  animation-duration:2s;
}

#breaklink {
  padding-top:0.5em;
  margin-bottom:0.5em;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:50px;
    height:50px;
    background:#F00;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background:#0F0;
}

#stress, .stress {
  font-family: 'Barlow', Futura XBlkIt BT, AvenirNext-HeavyItalic, 'Arial Black', sans-serif;
  color: red;
}

#stress a {
  color: red;
}

td {
  padding: 7px;
  font-size: 45px;
}

.two-list {
  display:grid;
  grid-template-columns:auto auto;
}

.three-list, .relax-list {
  display:grid;
  grid-template-columns:auto auto auto;
}

.small {
  font-size:45px;
}

.relax .close {
  font-weight:bold;
  color:darkred;
}

.relax .forward {
  font-weight:bold;
  color:darkblue;
}

.four-list {
  display:grid;
  grid-template-columns:auto auto auto auto;
}

.hfire-link {
  color:white;
  text-decoration:none;
  padding: 20px;
  cursor: pointer;
}

.passive, .passive a {
  color:#7FB;
}

.content {
  display:none;
  overflow:hidden;
}

.expand {
  font-size: 28px;
  font-family: inherit;
}

.slidercontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 10px;
  background: hsl(209, 22%, 87%);
  outline: none;
}

#musicslider {
  height: 30px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 60px;
  background: hsl(227, 43%, 50%);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 60px;
  height: 60px;
  background: hsl(227, 43%, 50%);
  cursor: pointer;
}

.theme1 {
  background-color: hsl(122, 30%, 32%);
  color: hsl(104, 22%, 87%);
}

.theme1 .slider::-webkit-slider-thumb {
  background: hsl(122, 43%, 50%);
}

.theme1 .slider::-moz-range-thumb {
  background: hsl(122, 43%, 50%);
}

.theme1 a, .theme1 .slider {
  color: hsl(104, 22%, 87%);
}

.theme2 {
  background-color: hsl(227, 30%, 32%);
  color: hsl(209, 22%, 87%);
}

.theme2 a {
  color: hsl(209, 22%, 87%);
}

.theme3 {
  background-color: hsl(317, 30%, 32%);
  color: hsl(299, 22%, 87%);
}

.theme3 .slider::-webkit-slider-thumb {
  background: hsl(317, 43%, 50%);
}

.theme3 .slider::-moz-range-thumb {
  background: hsl(317, 43%, 50%);
}

.theme3 a, .theme1 .slider {
  color: hsl(299, 22%, 87%);
}

.theme4 {
  background-color: hsl(47, 21%, 40%);
  color: hsl(29, 22%, 87%);
}

.theme4 a {
  color: hsl(29, 22%, 87%);
}

.theme5 {
  background-color: hsl(0, 0%, 32%);
  color: hsl(0, 0%, 87%);
}

.theme5 a {
  color: hsl(0, 0%, 87%);
}

.theme6 {
  background-color: hsl(167, 30%, 32%);
  color: hsl(149, 22%, 87%);
}

.theme6 a {
  color: hsl(149, 22%, 87%);
}

.theme7 {
  background-color: hsl(272, 30%, 32%);
  color: hsl(254, 22%, 87%);
}

.theme7 a {
  color: hsl(254, 22%, 87%);
}

.theme8 {
  background-color: hsl(2, 21%, 32%);
  color: hsl(344, 22%, 87%);
}

.theme8 a {
  color: hsl(344, 22%, 87%);
}

.theme9 {
  background-color: hsl(92, 30%, 32%);
  color: hsl(74, 22%, 87%);
}

.theme9 a {
  color: hsl(74, 22%, 87%);
}

.crap {
  background-color: hsl(22, 30%, 32%);
  color: hsl(4, 22%, 87%);
  font-family: 'Comic Sans MS', 'Marker Felt', 'MarkerFelt-Thin';
}

.crap a {
  color: hsl(4, 22%, 87%);
}

.theme10 {
  background-color: black;
  color: red;
}

.theme10 a {
  color: red;
}

.theme10 #message {
  color:yellow;
  font-weight:500;
}

.relapse {
  background-color: #330099;
  font-family: 'DejaVu Serif Condensed', 'dejavu_serifcondensed_italic', serif;
  font-style: italic;
}

.relapse a {
  color: white;
}

.relapse #message {
  color: white;
}

.relapse #stress {
  color: red;
}

#arrows {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.arrow {
  font-style:normal;
}

.timerbutton {
  padding:10px 30px;
}

#listen {
  color:#0F0;
}

@media only screen and (max-width: 1702px) {
  h1, #message, #trance, #survivor, #break.big, #arrows, #emergency-button, .huge {
    font-size: 100px;
  }
  h2, #chiptune, #break, #standup, #changeclothes, #question, #message.small, #arrows.small, .big {
    font-size: 75px;
  }
  h3, #ok, #link, #theme, #message.tiny, .medium {
    font-size: 60px;
  }
  body, ol, #goals-list, .relax-list, #link.small {
    font-size:40px;
  }
  td, .small {
    font-size:30px;
  }
  .custom-select, input[type='text'].custom-select, .custom-button {
    font-size: 24px;
  }
  .expand {
    font-size:20px;
  }
  .space2 {
    margin-bottom:0.6em;
  }
  input[type='checkbox'] {
    width:30px;
    height:30px;
  }
  #musicslider {
    height: 20px;
  }
  .slider::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
  }
  .slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 1135px) {
  h1, #message, #trance, #survivor, #break.big, #emergency-button, .huge {
    font-size: 80px;
  }
  h2, #chiptune, #break, #standup, #changeclothes, #question, #message.small, #arrows.small, .big {
    font-size: 60px;
  }
  h3, #ok, #link, #theme, #message.tiny, .medium {
    font-size: 45px;
  }
}

@media only screen and (max-width: 851px) {
  h1, #message, #trance, #survivor, #break.big, #emergency-button, .huge {
    font-size: 60px;
  }
  h2, #chiptune, #break, #standup, #changeclothes, #question, #message.small, #arrows.small, .big {
    font-size: 44px;
  }
  h3, #ok, #link, #theme, #message.tiny, .medium {
    font-size: 36px;
  }
  body, ol, #goals-list, .relax-list, .small, #link.small {
    font-size: 30px;
  }
  .custom-select, input[type='text'].custom-select, .custom-button, .expand {
    font-size:16px;
  }
  #arrows {
    font-size: 75px;
  }
  .space2 {
    margin-bottom:1em;
  }
  input[type='checkbox'] {
    width:20px;
    height:20px;
  }
  #musicslider {
    height: 15px;
  }
  .slider::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
  }
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 567px) {
  h1, #message, #trance, #survivor, #break.big, #emergency-button, .huge {
    font-size: 40px;
  }
  h2, #chiptune, #break, #standup, #changeclothes, #question, #message.small, #arrows.small, .big {
    font-size: 30px;
  }
  h3, #ok, .medium, #link, #message.tiny, #theme {
    font-size: 25px;
  }
  body, ol, td, #goals-list, .relax-list, #link.small, .small {
    font-size: 20px;
  }
  .relax-list {
    display:grid;
    grid-template-columns:auto auto;
  }
  #arrows {
    font-size: 50px;
  }
  .space2 {
    margin-bottom:1.25em;
  }
  input[type='checkbox'] {
    width:15px;
    height:15px;
  }
  #musicslider {
    height: 10px;
  }
  .slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
  }
}
