body {
  background-color: black;
  font-family: 'Barlow Semi Condensed', Futura MdCn BT, AvenirNextCondensed-Italic, sans-serif;
  color: white;
  font-size: 84px;
  text-align: center;
  margin-top: 25px;
}

input[type='text'], select, button {
  font-family: 'Barlow Semi Condensed', Futura MdCn BT, AvenirNextCondensed-Italic, sans-serif;
  font-size:16px;
}

h1, h2, h3, strong {
  font-family: 'Barlow Semi Condensed', Futura XBlkCnIt BT, AvenirNextCondensed-HeavyItalic, sans-serif;
}

h1 {
  font-size: 140px;
  margin-top: 0px;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 105px;
  margin-top: 0px;
  margin-bottom: 0.5em;
}

h3, #ok {
  font-size: 84px;
  margin-top: 0px;
  margin-bottom: 0.5em;
}

#message, #break.big {
  font-size: 140px;
}

#break, #question, #standup, #changeclothes, #quote {
  font-size:105px;
}

#link, #theme, .medium {
  font-size:84px;
}

#instructions, .no-space {
  margin-bottom: 0px;
}

ol {
  font-size: 60px;
  text-align: left;
  padding-left: 2em;
}

ol a {
  color: yellowgreen;
}

#link, .space, .space2 {
  margin-bottom: 0.5em;
}

h3 #instructions {
  margin-bottom: 0px;
}

#standup, #changeclothes, #hydrate, #musictip, .invisible {
  display:none;
}

#hydrate, #musictip {
  padding-bottom: 20px;
}

#breaklink {
  padding-top:0.5em;
  margin-bottom:0.5em;
}

input[type='radio'], input[type='checkbox'] {
    -webkit-appearance:none;
    width:50px;
    height:50px;
    background:#F00;
    border-radius:5px;
    border:2px solid #555;
}
input[type='radio']:checked, input[type='checkbox']:checked {
    background:#0F0;
}

.custom-button {
  font-size: 36px;
}

#questionnaire div {
  margin:5px;
}

img {
  max-width:100%;
  height:auto;
  width:auto;
}

#stress a {
  color: red;
}

.priorities td {
  border: 1px solid #000;
}

.small {
  font-size: 60px;
}

td {
  padding: 7px;
  font-size: 45px;
}

.four-list {
  display:grid;
  grid-template-columns:auto auto auto auto;
}

.three-list {
  display:grid;
  grid-template-columns:auto auto auto;
}

.two-list {
  display:grid;
  grid-template-columns:auto auto;
}

.hfire-link {
  color:white;
  text-decoration:none;
  padding: 20px;
  cursor: pointer;
}

.slidercontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 30px;
  background: hsl(209, 22%, 87%);
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 60px;
  background: hsl(227, 43%, 50%);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 60px;
  height: 60px;
  background: hsl(227, 43%, 50%);
  cursor: pointer;
}

.theme1 {
  background-color: hsl(122, 30%, 32%);
  color: hsl(104, 22%, 87%);
}

.theme1 a {
  color: hsl(104, 22%, 87%);
}

.theme2 {
  background-color: hsl(227, 30%, 32%);
  color: hsl(209, 22%, 87%);
}

.theme2 a {
  color: hsl(209, 22%, 87%);
}

.theme3 {
  background-color: hsl(317, 30%, 32%);
  color: hsl(299, 22%, 87%);
}

.theme3 a {
  color: hsl(299, 22%, 87%);
}

.theme4 {
  background-color: hsl(47, 21%, 40%);
  color: hsl(29, 22%, 87%);
}

.theme4 a {
  color: hsl(29, 22%, 87%);
}

.theme5 {
  background-color: hsl(0, 0%, 32%);
  color: hsl(0, 0%, 87%);
}

.theme5 a {
  color: hsl(0, 0%, 87%);
}

.theme6 {
  background-color: hsl(167, 30%, 32%);
  color: hsl(149, 22%, 87%);
}

.theme6 a {
  color: hsl(149, 22%, 87%);
}

.theme7 {
  background-color: hsl(272, 30%, 32%);
  color: hsl(254, 22%, 87%);
}

.theme7 a {
  color: hsl(254, 22%, 87%);
}

.theme8 {
  background-color: hsl(2, 21%, 32%);
  color: hsl(344, 22%, 87%);
}

.theme8 a {
  color: hsl(344, 22%, 87%);
}

.theme9 {
  background-color: hsl(92, 30%, 32%);
  color: hsl(74, 22%, 87%);
}

.theme9 a {
  color: hsl(74, 22%, 87%);
}

@media only screen and (max-width: 1702px) {
  h1, #message, #break.big {
    font-size: 100px;
  }
  h2, #break, #standup, #changeclothes, #question, #quote {
    font-size: 75px;
  }
  h3, body, #link, #theme, .medium {
    font-size: 60px;
  }
  ol, .small {
    font-size:40px;
  }
  td {
    font-size:30px;
  }
  .space2 {
    margin-bottom:0.6em;
  }
  input[type='radio'], input[type='checkbox'] {
    width:30px;
    height:30px;
  }
  .slider {
    height: 20px;
  }
  .slider::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
  }
  .slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
  }
  .custom-button {
    font-size:20px;
  }
}

@media only screen and (max-width: 1135px) {
  h1, #message, #break.big {
    font-size: 80px;
  }
  h2, #break, #standup, #changeclothes, #question, #quote {
    font-size: 60px;
  }
  h3, #ok, #link, #theme, .medium {
    font-size: 45px;
  }

@media only screen and (max-width: 851px) {
  h1, #message, #break.big {
    font-size: 60px;
  }
  h2, #break, #standup, #changeclothes, #question, #quote {
    font-size: 44px;
  }
  h3, body, ol, #ok, #link, #theme, .medium, .small {
    font-size: 30px;
  }
  .space2 {
    margin-bottom:1em;
  }
  input[type='radio'], input[type='checkbox'] {
    width:20px;
    height:20px;
  }
  .slider {
    height: 15px;
  }
  .slider::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
  }
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
  }
  .custom-button {
    font-size:14px;
  }
}

@media only screen and (max-width: 567px) {
  h1, #message, #break.big {
    font-size: 40px;
  }
  h2, #break, #standup, #changeclothes, #question, #quote {
    font-size: 30px;
  }
  h3, body, ol, td, #ok, #link, #theme, .medium, .small {
    font-size: 20px;
  }
  .space2 {
    margin-bottom:1.25em;
  }
  .four-list {
    display:grid;
    grid-template-columns:auto auto auto;
  }
  input[type='radio'], input[type='checkbox'] {
    width:15px;
    height:15px;
  }
  .slider {
    height: 10px;
  }
  .slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
  }

  @media only screen and (max-width: 413px) {
    .three-list, .four-list {
      display:grid;
      grid-template-columns:auto auto;
    }
  }
}
